<template>
  <b-row align-h="center" align-v="center" class="pl-3 pr-3 main-login" :style="styles">
    <b-col sm="6" md="5" lg="4" xl="3" class="my-1 bd-login">
      <b-form @submit="onSubmit" v-if="show" class="mb-1 cont-form">
        <b-row align-h="center" class="mb-3">
          <img src="img/logo.png" class="img-fluid img-thumbnail" alt="Acorp" >
        </b-row>
        <b-row align-h="center" class="mb-3">
          <b-col sm="12">
            <b-form-input type="text" id="login" class="icon -v1" v-model="user.username" size="lg" required placeholder="Usuario" autocomplete=off>
            </b-form-input>
          </b-col>
        </b-row>
        <b-row align-h="center" class="mb-3">
          <b-col sm="12">
            <b-form-input type="password" id="password" v-model="user.password" size="lg" required placeholder="Contraseña" autocomplete=off></b-form-input>
          </b-col>
        </b-row>
        <b-row align-h="center" class="mb-3">
          <b-col sm="12">
            <b-button type="submit" class="btn-naranja" size="lg" block>Ingresar</b-button>
          </b-col>
        </b-row>
        <b-row align-h="center" class="mb-3">
          <b-col sm="12">
            <b-alert :show="dismissCountDown" dismissible :variant="message.class" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged" class="mt-2">
              <p>{{message.text}}</p>
              <b-progress :variant="message.class" :max="message.seconds" :value="dismissCountDown" height="4px"></b-progress>
            </b-alert>
          </b-col>
        </b-row>
      </b-form>
    </b-col>
  </b-row>
</template>

<script>

export default {
  props: {
    opteamObj: Object,
    modal: Object
  },
  data () {
    return {
      user: {
        username: '',
        password: ''
      },
      method: 'post',
      url: 'users/',
      opteamUsers: [],
      checkActive: true,
      message: {
        text: '',
        class: ''
      },
      options: [],
      show: true,
      dismissCountDown: 0,
      showDismissibleAlert: false
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      this.$store.dispatch('login', this.user)
        .then(() => this.$router.push('/products'))
        .catch(error => {
          console.log(333)
          console.log(error)
          let errorData = error.response.data
          this.message.class = 'warning'
          this.message.seconds = 3
          if (errorData.status === 403) {
            this.message.text = 'Usuario y/o contraseña incorrecta'
          } else if (errorData.status === 400 || errorData.status === 401 || errorData.status === 403 || errorData.status === 409) {
            this.message.text = (errorData.messages) ? errorData.messages[0] : 'Usuario no autorizado'
          }
          this.showAlert()
        })
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.message.seconds
    }
  },
  computed: {
    styles () {
      return {
        'background-image': `url(img/bg-login-page.jpg)`,
        'background-repeat': 'no-repeat',
        'background-size': 'cover'
      }
    }
  }
}
</script>

<style scoped lang="scss">

  .cont-form {
    padding: 40px 25px 0;
  }

  .btn-naranja {
    display: block;
    background-color: $colorSecondary;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0;
  }

  .main-login{
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

</style>
