<template>
  <div>
    <b-form @submit="onSubmit" v-if="show" class="mb-2">
      <b-form-group id="input-group-rut" label="SKU:" label-for="prodSku" description="">
        <b-form-input
          id="prodSku"
          v-model="product.prodSku"
          type="text"
          required
          pattern="FAL-[1-9][0-9]{6,7}"
          oninvalid="this.setCustomValidity('SKU es requerido. Valores permitidos desde FAL-1000000 hasta FAL-99999999')"
          oninput="this.setCustomValidity('')"
          placeholder="Ingrese..."
          :readonly="readonlySku == true"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-name" label="Nombre:" label-for="prodName">
        <b-form-input
          id="prodName"
          v-model="product.prodName"
          type="text"
          required
          pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ\s]{3,50}"
          oninvalid="this.setCustomValidity('Nombre es requerido. Debe contener solo letras y/o números y una longitud de entre 3 y 50 caracteres')"
          oninput="this.setCustomValidity('')"
          placeholder="Ingrese..."
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-name" label="Marca:" label-for="prodBrand">
        <b-form-input
          id="prodBrand"
          v-model="product.prodBrand"
          type="text"
          required
          pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ\s]{3,50}"
          oninvalid="this.setCustomValidity('Marca es requerida. Debe contener solo letras y/o números y una longitud de entre 3 y 50 caracteres')"
          oninput="this.setCustomValidity('')"
          placeholder="Ingrese..."
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-name" label="Talla:" label-for="prodSize">
        <b-form-input
          id="prodSize"
          v-model="product.prodSize"
          type="text"
          required
          oninvalid="this.setCustomValidity('Talla es requerida')"
          oninput="this.setCustomValidity('')"
          placeholder="Ingrese..."
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-name" label="Precio:" label-for="prodPrice">
        <b-form-input
          id="prodPrice"
          v-model="product.prodPrice"
          type="number"
          required
          min="1.00"
          max="99999999.00"
          step="0.01"
          pattern="[1-9]([0-9]{1,7})?\.[0-9]{2}"
          oninvalid="this.setCustomValidity('Precio es requerido. Valores permitidos desde 1.00 hasta 99999999.00')"
          oninput="this.setCustomValidity('')"
          placeholder="Ingrese..."
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-name" label="URL Imagen Principal:" label-for="prodUrl">
        <b-form-input
          id="prodUrl"
          v-model="product.prodUrl"
          type="url"
          required
          pattern="((http|https)://)(www.)?[a-zA-Z0-9@:%._\+~#?&//=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%._\+~#?&//=]*)"
          oninvalid="this.setCustomValidity('URL es requerida. Debe ser una URL válida')"
          oninput="this.setCustomValidity('')"
          placeholder="Ingrese..."
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-name" label="Otras URLs:" label-for="prodUrls">
        <b-form-tags
          id="prodUrls"
          v-model="product.prodUrls"
          :tag-validator="tagValidator"
          placeholder="Ingrese..."
          addButtonText="Agregar"
          invalidTagText="URL debe ser válida"
        ></b-form-tags>
      </b-form-group>
      <b-button type="submit" variant="primary" class="mr-1">Guardar</b-button>
      <b-button type="button" variant="secondary" @click="closeModal">Cerrar</b-button>
    </b-form>
    <b-alert :show="dismissCountDown" dismissible :variant="message.class" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged" class="mt-2">
      <p>{{message.text}}</p>
      <b-progress :variant="message.class" :max="message.seconds" :value="dismissCountDown" height="4px"></b-progress>
    </b-alert>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: {
    productObj: Object,
    modal: Object
  },
  data () {
    return {
      product: {
        prodSku: '',
        prodName: '',
        prodBrand: '',
        prodSize: '',
        prodPrice: '',
        prodUrl: '',
        prodUrls: []
      },
      message: {
        text: '',
        class: ''
      },
      show: true,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      readonlySku: null
    }
  },
  mounted () {
    if (this.productObj !== undefined) {
      this.product = this.productObj
      this.product.prodUrls = JSON.parse(this.product.prodOtherUrls)
    } else {
      this.product = {
        prodSku: '',
        prodName: '',
        prodBrand: '',
        prodPrice: '',
        prodUrl: '',
        prodUrls: []
      }
    }
    this.readonlySku = (this.product.prodId !== undefined && this.product.prodId !== null && this.product.prodId !== '')
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      let method = 'post'
      let url = 'products/'
      if (this.product.prodId !== undefined && this.product.prodId !== null && this.product.prodId !== '') {
        method = 'put'
        url += this.product.prodSku
      }
      this.product.prodOtherUrls = JSON.stringify(this.product.prodUrls)
      let promise = axios({
        url: url,
        method: method,
        baseURL: this.$apiUrl,
        headers: {
          'Content-Type': 'application/json'
        },
        data: this.product
      })
      return promise.then(
        (resp) => {
          let data = resp.data
          if (data.status === 200) {
            this.message.text = data.message
            this.message.class = 'success'
            this.message.seconds = 3
            this.showAlert()
            var v = this
            setTimeout(function () {
              v.closeModal()
            }, 3000)
          } else {
            this.message.text = data.message
            this.message.class = 'warning'
            this.message.seconds = 3
            this.showAlert()
          }
        },
        (error) => {
          let errorData = error.response.data
          if (errorData.status === 400 || errorData.status === 409) {
            this.message.text = errorData.message
            this.message.class = 'warning'
            this.message.seconds = 3
          }
          this.showAlert()
        }
      ).catch(() => {
        this.$store.dispatch('logout')
        this.$router.push('/')
      })
    },
    tagValidator (tag) {
      return true
    },
    onReset (evt) {
      evt.preventDefault()
      this.product = this.productObj
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.message.seconds
    },
    closeModal () {
      this.modal.show = false
    }
  }
}
</script>

<style scoped lang="scss">

  .form-control {
    border: none;
    border-bottom: 1px solid #999999;
    border-radius: 0rem;
  }

  .form-control:focus {
    webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
  }

</style>
