<template>
  <b-container fluid>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <b-row align-h="center">
      <b-col sm="11" md="10" class="my-1">
        <b-row align-h="end" class="mb-2">
          <b-col sm="6" mg="4" lg="4" class="my-1 text-right">
            <b-button size="sm" @click="showModal('Registro de Producto','create')" class="mr-1">
              <i class="fas fa-plus-square fa-2x"></i>
            </b-button>
            <b-button size="sm" @click="showModal('Edición de Producto','edit')" class="mr-1" :disabled="disabledEdit">
              <i class="fas fa-edit fa-2x"></i>
            </b-button>
            <b-button size="sm" @click="deleteProduct()" class="mr-1" :disabled="disabledEdit">
              <i class="fas fa-trash fa-2x"></i>
            </b-button>
          </b-col>
        </b-row>
        <b-row align-h="between">
          <b-col sm="5" mg="3" lg="3" class="my-1">
            <b-form-group label="Registros por página:" label-cols-sm="8" label-cols-md="8" label-cols-lg="8" label-align-sm="right" label-size="sm" label-for="perPageSelect" class="mb-0">
              <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
            </b-form-group>
          </b-col>
          <b-col sm="6" mg="4" lg="4" class="my-1">
            <b-form-group label="Buscar:" label-cols-sm="3" label-align-sm="right" label-size="sm" label-for="filterInput" class="mb-0">
              <b-input-group size="sm">
                <b-form-input v-model="filter" type="search" id="filterInput" placeholder=""></b-form-input>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-table ref="productTable" striped hover small selectable responsive="sm" head-variant="light" show-empty :busy="isBusy" :items="myProvider" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter"  select-mode="single" sort-by="prodSku" @row-selected="onRowSelected">
          <!-- Esperando datos del servidor -->
          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong> Cargando ...</strong>
            </div>
          </template>
          <!-- No se encontro data en la tabla -->
          <template v-slot:empty="scope">
            <h6>No se encontraron registros.</h6>
          </template>
          <!-- No se encontro data en la busqueda -->
          <template v-slot:emptyfiltered="scope">
            <h6>No hay registros que coincidan con su solicitud.</h6>
          </template>
          <!-- Numero de registro -->
          <template v-slot:cell(index)="data">
            {{ data.index + 1 + ( ( currentPage - 1 ) * perPage ) }}
          </template>
          <!-- Indica la fila seleccionada con un check -->
          <template v-slot:cell(selected)=" { rowSelected } ">
            <template v-if="rowSelected">
              <span aria-hidden="true">&check;</span>
              <span class="sr-only">Selected</span>
            </template>
            <template v-else>
              <span aria-hidden="true">&nbsp;</span>
              <span class="sr-only">Not selected</span>
            </template>
          </template>
          <template v-slot:head(selected)="data">
            <span><i class="fas fa-check fa-1x"></i></span>
          </template>
        </b-table>
        <b-row align-h="end">
          <b-col sm="6" md="4" class="my-1">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalFiltered"
              :per-page="perPage"
              align="fill"
              size="sm"
              class="my-0"
            ></b-pagination>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-modal :id="modal.id" :title="modal.title"  :size="modal.size" v-model="modal.show" @hide="resetModal" :hide-footer="hideModalFooter">
      <FrmProduct :productObj="productSelected" :modal="modal"/>
    </b-modal>
  </b-container>
</template>

<script>
import axios from 'axios'
import FrmProduct from '@/components/FrmProduct.vue'

export default {
  components: {
    FrmProduct
  },
  data () {
    return {
      fields: [
        {
          key: 'index',
          label: 'N°'
        },
        {
          key: 'prodSku',
          label: 'SKU',
          sortable: true
        },
        {
          key: 'prodName',
          label: 'Nombre',
          sortable: true
        },
        {
          key: 'prodBrand',
          label: 'Marca',
          sortable: true
        },
        {
          key: 'prodSize',
          label: 'Talla',
          sortable: true
        },
        {
          key: 'prodPrice',
          label: 'Precio',
          sortable: true
        },
        {
          key: 'prodUrl',
          label: 'Url imagen principal',
          sortable: true
        },
        {
          key: 'selected',
          label: '',
          sortable: false
        }
      ],
      in_numbers: '5',
      items: [],
      totalRows: 1,
      totalFiltered: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 25, 50, 100],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      isBusy: false,
      disabledEdit: true,
      modal: {
        id: 'product-modal',
        title: '',
        size: 'md',
        action: '',
        show: false
      },
      hideModalFooter: true,
      productSelected: {}
    }
  },
  mounted () {
    this.resetProduct()
  },
  methods: {
    myProvider (ctx) {
      this.isBusy = true
      let promise = axios({
        method: 'get',
        url: this.$apiUrl + 'products/',
        params: ctx
      })
      return promise.then((resp) => {
        const items = resp.data.data
        this.totalRows = resp.data.totalRows
        this.totalFiltered = resp.data.totalFiltered
        this.isBusy = false
        return (items)
      }).catch(() => {
        this.$store.dispatch('logout')
        this.$router.push('/login')
      })
    },
    onRowSelected (items) {
      this.productSelected = items[0]
    },
    clearSelected () {
      this.$refs.productTable.clearSelected()
    },
    onFiltered (filteredItems) {
      this.totalFiltered = filteredItems.length
      this.currentPage = 1
    },
    showModal (title, action) {
      this.modal.title = `${title}`
      this.modal.action = `${action}`
      if (this.modal.action === 'create') {
        this.clearSelected()
      }
      this.$bvModal.show(this.modal.id)
    },
    refreshTable () {
      this.$refs.productTable.refresh()
    },
    deleteProduct () {
      if (confirm('¿Está seguro que desea eliminar producto?')) {
        let promise = axios({
          url: this.$apiUrl + 'products/' + this.productSelected.prodSku,
          method: 'delete',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        return promise.then(
          (resp) => {
            let data = resp.data
            alert(data.message)
            this.refreshTable()
          },
          (error) => {
            let errorData = error.response.data
            if (errorData.status === 400 || errorData.status === 409) {
              alert('Error al eliminar producto')
            }
          }
        ).catch(() => {
          this.$store.dispatch('logout')
          this.$router.push('/')
        })
      }
    },
    resetModal () {
      this.clearSelected()
      this.resetProduct()
    },
    resetProduct () {
      this.productSelected = {
        prodSku: '',
        prodName: '',
        prodBrand: '',
        prodSize: '',
        prodPrice: '',
        prodUrl: ''
      }
    }
  },
  watch: {
    'productSelected': function (val, oldVal) {
      this.disabledEdit = (val === undefined || val.prodSku === '')
    }
  }
}

</script>

<style scoped lang="scss">

  .form-control, .custom-select {
    border: none;
    border-bottom: 1px solid #999999;
    border-radius: 0rem;
  }

  .form-control:focus, .custom-select:focus{
    webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
  }

</style>
