<template>
  <div id="app">
    <b-navbar id="nav" variant="faded" v-if="isLoggedIn">
      <b-navbar-brand href="#">
        <img src="img/icono.png" class="img-fluid img-icon" alt="Falabella">
      </b-navbar-brand>
      <b-navbar-nav>
        <b-nav-item href="#"><router-link to="/products">Productos</router-link></b-nav-item>
        <b-nav-item href="#"><span v-if="isLoggedIn"><a @click="logout">Salir</a></span></b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <router-view/>
  </div>
</template>

<script>

export default {
  data () {
    return {
      navClass: '',
      items: []
    }
  },
  computed: {
    isLoggedIn: function () { return this.$store.getters.isLoggedIn }
  },
  mounted () {
    this.navClass = 'd-none'
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logout')
        .then(() => {
          this.$router.push('/login')
        })
    }
  },
  created: function () {
    this.$http.interceptors.response.use(undefined, function (err) {
      return new Promise(function (resolve, reject) {
        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
          this.$store.dispatch('logout')
        }
        throw err
      })
    })
  }
}
</script>

<style lang="scss">

  html, body {
    height:100%;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $fontPrimary;
    height: 100%;
  }

  #nav {
    padding: 5px 30px;
    background-color: $bgPrimary;

    a {
      font-weight: bold;
      color: #FFFFFF;
      text-decoration: none;

      &.router-link-exact-active {
        color: #FF3D00;
      }
    }
  }

  .img-icon {
    max-width:50px !important;
  }

</style>
