<template>
  <div class="login-class">
    <FrmLogin/>
  </div>
</template>

<script>
import FrmLogin from '@/components/FrmLogin.vue'
export default {
  name: 'Login',
  components: {
    FrmLogin
  }
}
</script>

<style lang="scss">
  .login-class {
    height:100%;
  }
</style>
