<template>
  <div>
    <TableProducts/>
  </div>
</template>

<script>
import TableProducts from '@/components/TableProducts.vue'
export default {
  name: 'Products',
  components: {
    TableProducts
  }
}
</script>
